:root {
  --font-family: "Metropolis", sans-serif;
  --text-color: #000;
  --background-color: #FFF;
  --red-400: #F36F6E;
  --red-500: #F04B4A;
  --red-600: #C03C3B;

  --gray-100: #F0F2F5;
  --gray-400: #8E959F;
}

$mainFontSize: 16;
$fontSize: 10px;
$borderRadius: 12px;
$transitionDuration: 0.2s;
