<section>
  <div class="container relative">

    @if (isMobile) {
      <div class="features mb-8">
        <owl-carousel-o [options]="customOptions">
          @for (feature of features; let i = $index; track i) {
            <ng-template carouselSlide>
              <div class="feature flex-1 flex flex-column justify-content-end {{feature.class}}">
                <div class="py-3">{{ feature.header }}</div>
              </div>
            </ng-template>
          }
        </owl-carousel-o>
      </div>
    } @else {
      <div class="flex features mb-8">
        @for (feature of features; let i = $index; track i) {
          <div class="feature flex-1 flex flex-column justify-content-end {{feature.class}}">
            <div class="py-3">{{ feature.header }}</div>
          </div>
        }
      </div>
    }

    <!--    <div class="flex features mb-8">-->
    <!--      <owl-carousel-o [options]="customOptions">-->
    <!--    @for (feature of features; let i = $index; track i) {-->
    <!--      <ng-template carouselSlide>-->
    <!--      <div class="feature flex-1 flex flex-column justify-content-end {{feature.class}}">-->
    <!--        <div class="py-3">{{feature.header}}</div>-->
    <!--      </div>-->
    <!--      </ng-template>-->
    <!--    }-->
    <!--      </owl-carousel-o>-->
    <!--    </div>-->
    <!--    @if (isMobile) {-->
    <!--      <div class="flex features mb-8">-->
    <!--      <owl-carousel-o [options]="customOptions">-->
    <!--        <ng-template carouselSlide>-->
    <!--          <div class="feature flex-1 flex flex-column justify-content-end automotive">-->
    <!--            <div class="py-3">Automotive</div>-->
    <!--          </div>-->
    <!--        </ng-template>-->
    <!--        <ng-template carouselSlide>-->
    <!--          <div class="feature flex-1 flex flex-column justify-content-end ecommerce">-->
    <!--            <div class="py-3">E-commerce</div>-->
    <!--          </div>-->
    <!--        </ng-template>-->
    <!--        <ng-template carouselSlide>-->
    <!--          <div class="feature flex-1 flex flex-column justify-content-end industry">-->
    <!--            <div class="py-3">Przemysł</div>-->
    <!--          </div>-->
    <!--        </ng-template>-->
    <!--      </owl-carousel-o>-->
    <!--      </div>-->
    <!--    } @else {-->
    <!--      <div class="flex features mb-8">-->
    <!--        <div class="feature flex-1 flex flex-column justify-content-end automotive">-->
    <!--          <div class="py-3">Automotive</div>-->
    <!--        </div>-->
    <!--        <div class="feature flex-1 flex flex-column justify-content-end ecommerce">-->
    <!--          <div class="py-3">e-commerce</div>-->
    <!--        </div>-->
    <!--        <div class="feature flex-1 flex flex-column justify-content-end industry">-->
    <!--          <div class="py-3">Przemysł</div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    }-->

    <div class="grid">
      <div class="lg:col-7 col-12">
        <h2 class="pb-3">Ludzie to fundament sukcesu – Jober24 to Twój partner w budowaniu efektywnych zespołów</h2>
        <div class="description">
          W branżach e-commerce, automotive i produkcyjnej sukces zależy od dobrze dobranych zespołów. Specjalizujemy
          się w
          dostarczaniu kompleksowych rozwiązań rekrutacyjnych, które pozwalają firmom tworzyć skuteczne, zgrane i
          wydajne
          zespoły. Dzięki nam zatrudnienie odpowiednich specjalistów i integracja nowych pracowników przebiega sprawnie
          i
          efektywnie.
        </div>
      </div>
    </div>
  </div>
</section>
